{{> head }}
{{> navbar }}

<div class="row p-3">
    <div class="col-8">
        <h2>Sobre mi</h2>
        <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, doloribus. Suscipit quod dolores facilis quisquam libero vero. Repudiandae, autem voluptatum. Nostrum magni aut harum pariatur iure dicta ducimus aperiam similique alias cupiditate qui, delectus ea! Doloremque a, sunt ducimus aut quidem nostrum autem quis, odio, modi possimus odit omnis aliquid!
        </div>
    </div>
    <div class="col-4">
        <div>
            <img src="../assets/img/yo.jpg" class="rounded img-thumbnail">
        </div>
    </div>
</div>

{{> footer }}

